@model IEnumerable<SonaBookings.Models.RoomType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypePhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
