@model SonaBookings.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    @if (TempData["MessageCheckOut"] != null)
    {
        <div class="alert alert-success justify-content-center">
            <h2>
                @TempData["MessageCheckOut"]
            </h2>
        </div>

    }
    <h3>Chi tiết đặt phòng</h3>
    <table id="thanhtoans">
        <tr>
            <th>Phòng</th>
            <td>@Model.Room.RoomNo</td>
        </tr>
        <tr>
            <th>Gmail</th>
            <td>@Model.User.UserName</td>
        </tr>
        <tr>
            <th>Ngày đến</th>
            <td>@Model.CheckInDate</td>
        </tr>
        <tr>
            <th>Ngày đi</th>
            <td>@Model.CheckOutDate</td>
        </tr>
        <tr>
            <th>Ngày đặt phòng</th>
            <td>@Model.BookingDate</td>
        </tr>
        <tr>
            <th>Trạng thái thanh toán</th>
            <td>@(Model.IsPayment ? "Đã thanh toán" : "Chưa thanh toán")</td>
        </tr>
        <tr>
            <th>Giá</th>
            <td>@Model.Room.FeePerNight VND / Mỗi đêm </td>
        </tr>

    </table>
    <div class="col justify-content-center ms-xxl-10">
        @if(Model.IsPayment == false)
        {
            <button type="submit" class="btn btn-primary" id="buttonPayment">
                <a href="/Bookings/ProcessPayment/@Model.BookingId" class="text-dark">
                    Thanh toán ngay 
                </a>
            </button>
            <button type="submit" class="btn btn-primary">
                <a href="/Bookings/Edit/@Model.BookingId" class="text-dark">
                    Thay đổi phòng
                </a>
            </button>

        }
        else
        {
            <button type="submit" class="btn btn-primary">
                <a href="/Bookings/CheckOut/@Model.BookingId" class="text-dark">
                    Trả phòng 
                </a>
            </button>
            <button type="submit" class="btn btn-primary">
                <a href="/Bookings/ViewAllInvoice" class="text-dark">
                    Danh sách hóa đơn 
                </a>
            </button>
        }
    </div>
</div>


<partial name="_ViewDetailsStyle" />
@section Scripts {
    @{
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            $(document).ready(function () {
                $('#buttonPayment').click(function (e) {
                    e.preventDefault();

                    $.ajax({
                        url: '@Url.Action("ProcessPayment", "Bookings")',
                        type: 'POST',
                        data: $('#thanhtoans').serialize(),
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    title: 'Bạn đã thanh toán thành công!',
                                    text: "Nhấn OK để xem chi tiết hóa đơn",
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = '/Bookings/InvoiceDetails/' + response.invoiceId;
                                    }
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                title: 'Error!',
                                text: "Bạn không thể thanh toán" + error,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    });
                });
            });

            


            function setCheckoutMinDate() {
                var checkin = document.getElementById("checkin").value;
                var checkout = document.getElementById("checkout");

                var today = new Date().toISOString().split('T')[0];
                checkout.min = checkin < today ? today : checkin;

                window.onload = function () {
                    var today = new Date().toISOString().split('T')[0];
                    document.getElementById("checkin").setAttribute("min", today);
                };
            }

        </script>
    }
}

