@model IEnumerable<SonaBookings.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h2>Lịch sử đặt phòng</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Ngày đặt 
            </th>
            <th>
                Ngày đến 
            </th>
            <th>
                Ngày đi 
            </th>
            <th>
                Phòng 
            </th>
            <th>
                Trạng thái thanh toán 
            </th>
            <th>
                Chi tiết 
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.BookingDate
            </td>
            <td>
                @item.CheckInDate
            </td>
            <td>
                @item.CheckOutDate
            </td>
            <td>
                @item.Room.RoomNo
            </td>
            <td>
                @(item.IsPayment ? "Đã thanh toán" : "Chưa thanh toán")
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.BookingId" class="text-dark">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>


<partial name="_ViewDetailsStyle" />

