@model SonaBookings.Models.Room
<section class="room-details-section spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="/template/img/room/room-details.jpg" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>@Model.RoomNo</h3>
                            <div class="rdt-right">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <a href="/Bookings/Create/?roomId=@Model.RoomId">Booking Now</a>
                            </div>
                        </div>
                        <h2>@Model.FeePerNight$<span>/Pernight</span></h2>
                        <table>
                            <tbody>
                                @* <tr>
                                    <td class="r-o">Size:</td>
                                    <td>@Model.Size.SizeName</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>@Model.Capacity.CapacityName</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Room Type:</td>
                                    <td>@Model.RoomType.RoomTypeName</td>
                                </tr> *@
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, Television, Bathroom,...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Description</h3>
                    <form action="#">
                        <p>
                            @Model.RoomDescription
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>