@using SonaBookings.Models.ViewModels;
@model RoomListViewModel;

@{
    ViewData["Title"] = "Rooms";
}

<section class="rooms-section spad">
    <div class="container">
        <h3 class="justify-content-center mb-5">Danh sách phòng</h3>
        <div class="row">
            @foreach (var item in Model.Rooms)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="/template/@item.RoomPhoto" alt="Room Photo">
                        <div class="ri-text">
                            @* <h4>@item.RoomType.RoomTypeName</h4> *@
                            <h4>@item.RoomNo</h4>
                            <h3>@item.FeePerNight$<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    @* <tr>
                                <td class="r-o">Size:</td>
                                <td>@item.Capacity.CapacityName</td>
                                </tr> *@
                                    @* <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>@item.Capacity.CapacityName</td>
                                    </tr> *@
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                @if (item.IsAvailable == true)
                                {
                                    <a href="/Bookings/Create/?roomId=@item.RoomId" class="primary-btn ms-3 me-xl-5">Book Now</a>
                                    <a href="/Rooms/Details/?id=@item.RoomId" class="primary-btn ms-xl-5">Details</a>
                                }
                                else
                                {
                                    <span class="text-danger justify-content-center">Not Available</span>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-12">
                <div class="room-pagination">
                    @for(int i = 1; i <= Model.PagingInfo.TotalPage; i++ )
                    {
                        <a href="/Rooms/?roompage=@i">@i</a>
                        @* <a href="/Rooms/?roompage=@(i - 1)">Next <i class="fa fa-long-arrow-right"></i></a> *@
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_ViewDetailsStyle" />
